{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if success_message %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ success_message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_message %}
            <div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_message }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_billmate_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_billmate_checkout_status" id="input-status" class="form-control">
                                {% if payment_billmate_checkout_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-payable">{{ entry_billmate_id }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_billmate_checkout_bm_id" value="{{ payment_billmate_checkout_bm_id }}" placeholder="{{ entry_billmate_id }}" id="input-bm-id" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-payable">{{ entry_billmate_secret }}</label>
                        <div class="col-sm-10">
                            <input type="password" name="payment_billmate_checkout_secret" value="{{ payment_billmate_checkout_secret }}" placeholder="{{ entry_billmate_secret }}" id="input-secret" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_enable_push_events }}</label>
                        <div class="col-sm-10">
                            <select name="payment_billmate_checkout_push_events" id="input-push-events" class="form-control">

                                {% if payment_billmate_checkout_push_events %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}

                            </select>
                        </div>
                        <div class="push-events-options {% if not module_billmate_checkout_push_events %}hidden{% endif %}">
                            <div class="push-event-status">
                                <label class="col-sm-2 control-label" for="input-order-status">{{ entry_billmate_activate_status }}</label>
                                <div class="col-sm-8">
                                    <select name="payment_billmate_checkout_activate_status_id" id="input-order-status" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_billmate_checkout_activate_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">
                                                    {{ order_status.name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">
                                                    {{ order_status.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div style="clear: both"></div>
                            <div class="push-event-status">
                                <label class="col-sm-2 control-label" for="input-order-status">{{ entry_billmate_cancel_status }}</label>
                                <div class="col-sm-8">
                                    <select name="payment_billmate_checkout_cancel_status_id" id="input-order-status" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_billmate_checkout_cancel_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">
                                                    {{ order_status.name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">
                                                    {{ order_status.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div style="clear: both"></div>
                            <div class="push-event-status">
                                <label class="col-sm-2 control-label" for="input-order-status">{{ entry_billmate_credit_status }}</label>
                                <div class="col-sm-8">
                                    <select name="payment_billmate_checkout_credit_status_id" id="input-order-status" class="form-control">
                                        {% for order_status in order_statuses %}
                                            {% if order_status.order_status_id == payment_billmate_checkout_credit_status_id %}
                                                <option value="{{ order_status.order_status_id }}" selected="selected">
                                                    {{ order_status.name }}
                                                </option>
                                            {% else %}
                                                <option value="{{ order_status.order_status_id }}">
                                                    {{ order_status.name }}
                                                </option>
                                            {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_enable_invoice_message }}</label>
                        <div class="col-sm-10">
                            <select name="payment_billmate_checkout_invoice_message" id="input-test-mode" class="form-control">

                                {% if payment_billmate_checkout_invoice_message %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_enable_test_mode }}</label>
                        <div class="col-sm-10">
                            <select name="payment_billmate_checkout_test_mode" id="input-test-mode" class="form-control">

                                {% if payment_billmate_checkout_test_mode %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-order-status">{{ entry_default_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_billmate_checkout_order_status_id" id="input-order-status" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id == payment_billmate_checkout_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}" selected="selected">
                                            {{ order_status.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">
                                            {{ order_status.name }}
                                        </option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total">
                            <span data-toggle="tooltip" title="{{ help_gdpr_message }}">
                                {{ entry_link_terms_cond }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="payment_billmate_checkout_gdpr_link"
                                   value="{{ payment_billmate_checkout_gdpr_link }}"
                                   id="input-total"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-total">
                            <span data-toggle="tooltip" title="{{ help_privacy_policy_message }}">
                                {{ entry_link_privacy_policy }}
                            </span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="payment_billmate_checkout_privacy_policy_link"
                                   value="{{ payment_billmate_checkout_privacy_policy_link }}"
                                   id="input-total"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_enable_logging_bm_requests }}</label>
                        <div class="col-sm-10">
                            <select name="payment_billmate_checkout_log_enabled" id="input-test-mode" class="form-control">

                                {% if payment_billmate_checkout_log_enabled %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}

                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
<script type="text/javascript">
    $(document).ready(function() {
        $.fn.pushEventsSwitcher.init();
    });
</script>